<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="icon" href="img/halffull.png" type="image/png">
  <link rel="stylesheet" href="profile.css">
</head>

<body>
  <header>
    <img src="/img/halffull.png" alt="Logo" class="logo">
    <nav>
      <ul>
        <li>
          <a href="/homepage">homepage</a>
        </li>
        <li>
          <a href="/profile">my profile</a>
        </li>
        <li>
          <a href="/status">my kit status</a>
        </li>
        <li>
          <a href="/psa">what to know about my kit</a>
        </li>
      </ul>
    </nav>
  </header>
</body>

</html>