<!-- renamed what was plan to profile -->
<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="icon" href="img/halffull.png" type="image/png">
  <link rel="stylesheet" href="../profile.css">
</head>

<body>
  <header>
    <img src="/img/halffull.png" alt="Logo" class="logo">
    <nav>
      <ul>
        <li>
          <a href="/homepage">homepage</a>
        </li>
        <li>
          <a href="/profile">my profile</a>
        </li>
        <li>
          <a href="/status">my kit status</a>
        </li>
        <li>
          <a href="/psa">what to know about my kit</a>
        </li>
      </ul>
    </nav>
  </header>

  <span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>

  <h1>edit posts</h1>

  <form>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description" value="<%= post.description %>">
    </div>
    <div class="mb-3">
      <label for="notes" class="form-label">Notes</label>
      <textarea class="form-control" id="notes" name="notes"><%= post.notes %></textarea>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select id="category">
        <option value="medical">Medical Records</option>
        <option value="legal">Form 6</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" name="date">
    </div>
    <input type="id" id="postId" value="<%= post._id %>">
    <!-- <div class="mb-3">
    <label for="imgUpload" class="form-label">Image</label>
    <input type="file" class="form-control" id="imageUpload" name="file-to-upload">
  </div> -->
    <button type="button" class="btn btn-primary">Submit</button>
  </form>

  <script src="../edit.js"></script>
  <%- include('partials/footers') -%>