<!doctype html>
<html>

<head>
  <title>half full: homepage</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="icon" href="img/halffull.png" type="image/png">
  <link rel="stylesheet" href="profile.css">
</head>


<body class="homepage">
  <header>
    <img src="/img/halffull.png" alt="Logo" class="logo">
    <span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>
    <nav>
      <ul>
        <li>
          <a href="/profile">my profile</a>
        </li>
        <li>
          <a href="/status">my kit status</a>
        </li>
        <li>
          <a href="/psa">what to know about my kit</a>
        </li>
      </ul>
    </nav>
  </header>
  <h1 class="headline">welcome to half full</h1>

  <div class="appInterfaceOne">
    <h2 class="animated-heading">why half full?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vel laudantium, voluptatibus officia ipsa facilis
      necessitatibus sed corrupti unde tempore enim deleniti mollitia, numquam voluptatem provident consectetur sit
      ipsam. Optio.</p>
  </div>
  <div class="appInterfaceTwo">
    <h2 class="animated-heading">how to navigate half full</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vel laudantium, voluptatibus officia ipsa facilis
      necessitatibus sed corrupti unde tempore enim deleniti mollitia, numquam voluptatem provident consectetur sit
      ipsam. Optio.</p>
  </div>

  <script src="main.js"></script>
</body>


</html>