<!doctype html>
<html>

<head>
  <title>half full: homepage</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="icon" href="img/halffull.png" type="image/png">
  <link rel="stylesheet" href="profile.css">
</head>


<body class="homepage">
  <header>
    <img src="/img/halffull.png" alt="Logo" class="logo">
    <span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>
    <nav>
      <ul>
        <li>
          <a href="/profile">my profile</a>
        </li>
        <li>
          <a href="/status">my kit status</a>
        </li>
        <li>
          <a href="/psa">what to know about my kit</a>
        </li>
      </ul>
    </nav>
  </header>
  <h1 class="headline">welcome to half full</h1>

  <div class="appInterfaceOne">
    <h2 class="animated-heading">why half full?</h2>
    <p>half full was created with the purpose of empowering survivors of sexual assault by providing them with a secure storage container for their evidence. It aims to serve as a reliable and trusting resource, allowing survivors to monitor the status of their kit at any time- particularly if they choose to pursue legal action and utilize the evidence collected.</p>
  </div>
  <div class="appInterfaceTwo">
    <h2 class="animated-heading">how to navigate half full</h2>
    <p>To navigate half full, begin by creating an account with your kit number. In the 'my profile' tab, you can securely upload documents and images as evidence, which will then be displayed on a timeline. Use the 'my kit status' tab to easily track the fluidity of your kit's progress, ensuring status information is readily available. Lastly, visit the 'what to know about my kit' tab, which acts as a FAQ section, providing valuable information and guidance.</p>
  </div>

  <script src="main.js"></script>
</body>


</html>