<%- include('partials/headers') -%>

  <span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>

  <body class="psa">
    
    <div class="container">
      
      <h1 class="headline">what to know about my kit</h1>
  
      <div class="category">
        <h2>What is a SAECK?</h2>
        <div class="answer">
          <p>The SAECK (Sexual Assault Evidence Collection Kit) is a collection of items used to gather and preserve physical evidence following a sexual assault. It includes instructions, documentation forms, and materials to collect DNA evidence and other forensic evidence. The kit is completed during a sexual assault examination, which is the process used to collect the evidence needed for the SAECK, as well as to provide the best immediate care for survivors.</p>
        </div>
      </div>
  
      <div class="category">
        <h2>SAECK timeline:</h2>
        <div class="answer">
          <p>The timeline for collecting and processing a SAECK can vary depending on the jurisdiction and the lab's workload. On average, it may take up to 41 days for kit processing (and its status) to be made available. It's generally recommended to have the kit collected within 72 hours of the assault. It's important to note that evidence can still be collected even if the kit is not collected immediately after the assault.</p>
        </div>
      </div>
  
      <div class="category">
        <h2>You did a kit, but did not report to the police. What will happen to it?</h2>
        <div class="answer">
          <p>If you choose not to report the assault to law enforcement, you still have the option to have your kit collected and preserved. The kit can be stored anonymously or with identifying information, depending on your preference. Evidence can be stored anonymously for up to 6 months, and extensions for continuous anonymous storage can be offered by the Statewide Forensic Information Line (<a href="tel:866-463-3799">866-463-3799</a>). But remember, you do not need to pursue legal action right away: kits can be stored, even if unprocessed (read: untested), for up to 15 years.</p>
        </div>
      </div>
    </div>
 
  
      <script src="main.js"></script>

  </body>

  </html>