<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Julia's Demo Day Draft 1: SAECK</title>
</head>

<body>
  <h2>My SAECK Number</h2>
  <p>Please input your SAECK Number below. Please note that once input, it cannot be changed.</p>
  <% if (user.local.email) { %>
    <form action="/messages" method="POST">
      <input type="text" value="<%= user.local.email %>" name="name">
      <input type="text" placeholder="SAECK Kit Number here" name="number">
      <button type="submit">Submit</button>
    </form>
    </div>
    <% } %>

      <script src="main.js"></script>
</body>

</html>