<!-- note: status was reminders page -->
<%- include('partials/headers') -%>

  <body>

    <span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>


    <div class="check-kit-status">
<!-- note: statuses are the following: 1) tested 2) not tested 3) status unknown 4) en route to storage 5) in storage -->
      <h2>check on the status of your kit</h2>
      <p>Check on the status of your kit anytime, and contact your designated police department if you have any
        questions on any status changes.</p>



      <label for="kitNumber">Input your SAECK #:</label>
      <input type="text" id="kitNumber" name="kitNumber">
      <button type="submit">Submit</button>

      <label for="statusUpdate">Status:</label>
      <span id="status-update"></span>

      <label for="verifiedOn">Last Verified on:</label>
      <!-- I want to make the timestamp for the date pop up here -->

      <!-- <input type="text" id="verifiedOn" name="verifiedOn" value="">  -->
    </div>


    <script src="main.js"></script>
  </body>

  </html>