<!-- note: status was reminders page -->
<%- include('partials/headers') -%>
<body>
 
  <span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>
  
  <script src="main.js"></script>
</body>

</html>